In [2]:
import pandas as pd

In [7]:
data = pd.read_excel('unit-Mar2018-final.xls', header=1, index_cols=1, usecols='A:G'+', I:J', skiprows=[1, 2, 3], 
                     skipfooter=1,
                     names=['suburb', '1stQ 17', '2ndQ 17', '3rdQ 17', '4thQ 17', '1thQ 18', 'sales No. 1stQ 18', '% 1stQ17 to 1stQ18', '% 4thQ17 to 1stQ18'], )
data = data.set_index('suburb')

In [8]:
my_sub = pd.Series(['TEMPLESTOWE', 'TEMPLESTOWE LOWER', 'DONCASTER EAST', 'DONCASTER', 'RINGWOOD', 'KNOXFIELD', 'VERMONT', 'SCORESBY', 'WANTIRNA SOUTH', 'WANTIRNA',
                   'WHEELERS HILL', 'ROWVILLE', 'VERMONT SOUTH', 'BURWOOD EAST', 'BURWOOD', 'CLAYTON', 'CLAYTON SOUTH'])

In [9]:
# 查看我有购房意向的区的价格信息：
data.reindex(my_sub).sort_values(by='% 4thQ17 to 1stQ18')

,1stQ 17,2ndQ 17,3rdQ 17,4thQ 17,1thQ 18,sales No. 1stQ 18,% 1stQ17 to 1stQ18,% 4thQ17 to 1stQ18
CLAYTON SOUTH,404000.0,397500.0,720000.0,656000.0,303000.0,1.0,-25.0,-53.8
CLAYTON,620800.0,608700.0,550500.0,667500.0,532500.0,33.0,-14.2,-20.2
KNOXFIELD,548000.0,596000.0,627500.0,680000.0,600000.0,13.0,9.5,-11.8
DONCASTER,572000.0,628800.0,547500.0,590000.0,557000.0,57.0,-2.6,-5.6
WANTIRNA SOUTH,350000.0,577500.0,418000.0,510000.0,486500.0,22.0,39.0,-4.6
BURWOOD,800000.0,720000.0,700000.0,766500.0,735500.0,26.0,-8.1,-4.0
RINGWOOD,627000.0,524800.0,575000.0,565000.0,545000.0,40.0,-13.1,-3.5
DONCASTER EAST,664000.0,684500.0,750000.0,780000.0,782500.0,38.0,17.8,0.3
BURWOOD EAST,1000000.0,745000.0,630000.0,810000.0,825000.0,5.0,-17.5,1.9
TEMPLESTOWE LOWER,766000.0,955000.0,731000.0,902500.0,920800.0,6.0,20.2,2.0
WANTIRNA,577500.0,615000.0,560000.0,580000.0,610000.0,5.0,5.6,5.2
VERMONT,750000.0,731500.0,597500.0,732500.0,795000.0,8.0,6.0,8.5
SCORESBY,615000.0,660000.0,426500.0,600000.0,670000.0,3.0,8.9,11.7
ROWVILLE,410000.0,370100.0,637500.0,435000.0,500000.0,13.0,22.0,14.9
TEMPLESTOWE,720000.0,941000.0,770000.0,710500.0,955000.0,12.0,32.6,34.4
WHEELERS HILL,900000.0,810000.0,1180000.0,845000.0,845000.0,0.0,NaN,NaN
VERMONT SOUTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 查看city周边区域的公寓价格
city_sub = ['MELBOURNE', 'EAST MELBOURNE', 'NORTH MELBOURNE', 'WEST MELBOURNE', 'DOCKLANDS', 'SOUTHBANK', 'CARLTON',
              'SOUTH YARRA', 'PORT MELBOURNE']
data.reindex(city_sub).sort_values(by='% 4thQ17 to 1stQ18')

,1stQ 17,2ndQ 17,3rdQ 17,4thQ 17,1thQ 18,sales No. 1stQ 18,% 1stQ17 to 1stQ18,% 4thQ17 to 1stQ18
suburb,,,,,,,,
WEST MELBOURNE,562500,485000,589500,590400,505900,41,-10.1,-14.3
CARLTON,270000,407500,415000,362000,325000,68,20.4,-10.2
SOUTHBANK,540000,580000,550000,565000,535000,177,-0.9,-5.3
PORT MELBOURNE,640000,720000,720000,665000,641000,66,0.2,-3.6
NORTH MELBOURNE,453900,510000,530000,521500,510000,49,12.4,-2.2
EAST MELBOURNE,612500,625000,600000,880000,874800,8,42.8,-0.6
MELBOURNE,510000,499000,483500,501000,499500,388,-2.1,-0.3
SOUTH YARRA,599500,575000,575000,560500,576300,146,-3.9,2.8
DOCKLANDS,570000,577000,525000,550500,595000,109,4.4,8.1